diff --git a/.gitignore b/.gitignore
index 1b1a91f96de920c2ef579e83de34836eb2053519..abb4d30c23f6053c8b615a70d583168ccf93e32e 100644
--- a/.gitignore
+++ b/.gitignore
@@ -11,50 +11,52 @@ __pycache__/
 .idea/
 .vscode/
 *.swp
 *.swo
 *.bak
 *.tmp
 *.orig
 
 # ==========================
 # PYTHON / BACKEND
 # ==========================
 venv/
 .env/
 .venv/
 dist/
 build/
 pip-wheel-metadata/
 *.egg-info/
 .eggs/
 htmlcov/
 .coverage
 .cache/
 pytest_cache/
 instance/
 db.sqlite3
+pm_management.db
+/backend/pm_management.db
 /migrations/
 
 # ==========================
 # FRONTEND (React / Node)
 # ==========================
 frontend/node_modules/
 frontend/.vite/
 frontend/dist/
 frontend/.DS_Store
 npm-debug.log*
 yarn-debug.log*
 yarn-error.log*
 pnpm-debug.log*
 package-lock.json
 
 # ==========================
 # DOCKER / COMPOSE
 # ==========================
 *.pid
 *.seed
 *.tar
 docker-compose.override.yml
 rolebased-app-fixed*
 rolebased-app-v2*
 dbdata/
